# Build Results of an IDE
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/
*.user
*.suo

# Logs
*.log

# Cache / temp
*.cache
*.tmp

# OS files
Thumbs.db
.DS_Store

# Optional: local config (if contains secrets)
web.config
