<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
   
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
     
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
              
      </assemblies>
      
    </compilation>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="8192" executionTimeout="36000" />
    <!--Session Time Out-->
    <sessionState timeout="60" mode="InProc" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        
      </controls>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
  
    

  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index2.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
    </handlers>
  </system.webServer>
 
 <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="oureports@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" password="rqllglbheahrsfhf" port="587" userName="oureports@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>

   <add key="pagettl" value="DataAI - Data Analytical Intelligence" />
    <add key="webour" value="https://OUReports.net/OUReports/" />
    <add key="weboureports" value="https://OUReports.net/OUReports/" />
    <add key="version" value="28-00" />

  </appSettings>
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>







